.layout {
  min-height: 100vh;
}

nz-header {
  position: fixed;
  width: 100%;
}

nz-header h3 {
  color: #f7f7f7;
}

nz-content {
  padding: 0 50px;
  margin-top: 64px;
}


nz-footer {
  text-align: center;
}